html{
  font-family: sans-serif;
}

body{

  width: 100vw;
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
}

.itemContainer{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 40% 60%;
  width: 600px;
  height: 350px;
  left: 50%;
  top: 20%;
  position: absolute;
  transform: translate(-50%, 0);
  border-radius: 5px;
  border: solid 1px black;
}

.imageBox{
  border: grey dotted 1px;
  border-radius: 5px;
  height: 220px;
  width: 175px;
  margin-top: 50px;
  margin-left: 35px;
}

#imageText{
  font-size: 12px;
  text-align: center;
  color: grey;
}

#imageIcon{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}


.textBox{
  display: flex;
  flex-direction: column;
}

.textBox input{
  width: 300px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid;
}

.textBox input:first-child{
  margin-top: 60px;
}

#saveBtn{
  width: 80px;
  height: 40px;
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 30px;
  background-color: #1970fb;
  border-radius: 5px;
  border: solid 1px;
  color: white;
  font-size: 15px;
}

.top-menu{
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  border-left: none;
  border-right: none;
  font-size: 20px;
}

.top-menu button{
  border-style: none;
  background-color: white;
  font-size: 20px;
}

.copyright{
  font-size: 20px;
  grid-row: 3/4;
  background-color: #b21848;
  color: white;
  text-align: center;
  padding-top: 2px;
}
